*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#grid_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    min-width: 400px;
}
#grid_container div{
    height: 25px;
    width: 25px;
    border: 1px solid black;
}
.control_panel{
    text-align: center;
    width: 200px;
    height: 100%;
    margin: 0 50px;
}

.color{
    background-color: white;
}

#options{
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;

}
#reset{
    cursor: pointer;
 
}
/* #color_selection {
    cursor: url('../img/cursor.cur'), auto;
} */
input[type="color"]::-webkit-color-swatch-wrapper{
    width: 10000px;
}
#random{
    background-image: url('../img/random-rainbow.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#multicolor{
    background-image: url('../img/multicolor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.options_buttons{
    display: flex;
    align-items: center;
    margin: 10px auto 0;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: black solid 1px;
    cursor: url('../img/cursor.cur'), auto;

}
/* .rainbow{
    background-color: ;
} */